
// New age.
$c-gray-bg: rgba(235,236,237,1);
$c-gray-btn-text: rgba(90,97,111,1);
$c-gray-btn-text-l1: rgba(118,127,141,1);
$c-gray-btn-text-l2: rgba(143,146,155,1);

// Medium-ish colors.
$c-green0: #00b368;
$c-green1: #1ebd7e;
$c-green2: #02ad6e;

// TW colors.
$c-teal50: #dcf0f3;
$c-teal100: #c3e8ea;
$c-teal200: #99dade;
$c-teal300: #5ec4c7;
$c-teal400: #27b6ba;
$c-teal500: #31a7aa;
$c-teal600: #259295;
$c-teal700: #137679;
$c-teal800: #096669;

$c-green50: #d6f5dd;
$c-green100: #abecb9;
$c-green200: #89dd9b;
$c-green300: #72d186;
$c-green400: #62c276;
$c-green500: #52b166;
$c-green600: #45a359;
$c-green700: #409752;
$c-green800: #348846;

$c-gray50: #f3f4f5;
$c-gray100: #e6e8ec;
$c-gray200: #d4d6db;
$c-gray300: #b0b4bb;
$c-gray400: #8d919a;
$c-gray500: #696f7a;
$c-gray550: #575d68;
$c-gray600: #464c59;
$c-gray700: #323742;
$c-gray800: #1d222b;
$c-gray900: #0d1017;

$c-amber50: #fff7e9;
$c-amber100: #fff1d8;
$c-amber200: #ffe0a8;
$c-amber300: #ffc866;
$c-amber400: #ffb024;
$c-amber500: #f9a50f;
$c-amber600: #f19d07;
$c-amber700: #e99603;
$c-amber800: #da8b00;
$c-amber900: #cb8200;

$c-red50: #fbe3e0;
$c-red100: #f8bcb6;
$c-red200: #f2938a;
$c-red300: #ed766b;
$c-red400: #e95e51;
$c-red500: #d5493b;
$c-red600: #c0392c;
$c-red700: #b12c1f;
$c-red800: #9f1f13;
$c-red900: #76150c;

$c-blue50: #deecf6;
$c-blue100: #bbdaef;
$c-blue200: #96c0dd;
$c-blue300: #72add6;
$c-blue400: #4882ab;
$c-blue500: #2c6a95;
$c-blue600: #1f5c87;
$c-blue700: #184c71;
$c-blue800: #154566;
$c-blue900: #0d344f;

$c-purple500: #a876cc;
$c-purple600: #915aba;

$c-brown500: #a0744c;
$c-brown600: #8b5e37;

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
