
@import "../styles/colors";

#pl-app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar-track {
	// box-shadow: inset 0 0 6px rgba(50,50,50,0.15);
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
  height: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba($c-teal400, 0.5);
  border-radius: 1px;
}

.pl-form-button {
  height: 31px;
  font-size: 0.9rem;
  border-radius: 2px;
  i.fa {
    font-size: 0.9rem;
    padding-right: 2px;
  }
}

.pl-cancel-button {
  color: white;
  background-color: $c-gray200;
  border-bottom: 2px solid $c-gray200;
  text-shadow: none;
  &:hover {
    background-color: $c-gray300;
    border-bottom: 2px solid $c-gray400;
  }
}

.pl-input-field {
  width: 100%;
  border-radius: 3px;
  border: 1px solid $c-gray500;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  padding: 0 6px;
  color: $c-gray600;
  text-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.pl-input-field--top {
  @extend .pl-input-field;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.pl-input-field--bottom {
  @extend .pl-input-field;
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
}

.pl-heading {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .35);
}

.pl-heading--large {
  @extend .pl-heading;
  font-size: 2rem;
  font-weight: 800;
}

.pl-title {
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 900;
  letter-spacing: -1.5px;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .35);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pl-title-slogan {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 900;
  letter-spacing: -0.5px;
  color: $c-gray100;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .30);
}

.pl-title--turbo {
  @extend .pl-heading;
  font-size: 5.5rem;
  line-height: 6.5rem;
  letter-spacing: -2px;
}

.pl-link {
  font-size: 0.8rem;
  font-weight: 400;
  color: $c-gray600;
  cursor: pointer;
  &:hover {
    color: $c-gray700;
    text-decoration: underline;
  }
}

.pl-link-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  text-shadow: 0 1px 1px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  em {
    background-color: $c-teal500;
    font-style: normal;
    padding: 1px 4px 2px;
    border-radius: 1.5px;
  }
}

.pl-box {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.5);
  color: $c-gray600;
  min-width: 700px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  &.pl-solid-box {
    .pl-box__header, .pl-box__footer {
      background-color: rgba($c-gray50, 0.9);
      // background-image: linear-gradient(rgba($c-gray50, 0.9), $c-gray100);
    }
    .pl-box__content {
      background-color: rgba(white, 0.9);
    }
  }

  &__content-empty {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__text {
      font-size: 1.2rem;
      color: $c-gray500;
      margin-bottom: 10px;
    }
    em {
      font-style: normal;
      font-size: 1.25rem;
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  &__header {
    border-bottom: 1px solid $c-gray200;
    border-radius: 3px 3px 0 0;

    // Flat
    // background-color: rgba(255, 255, 255, 0.95);

    //  Gradient !
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), $c-gray100);

    padding: 0 12px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.55);
    flex: none;
  }

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    flex: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 12px;
    border-radius: 0 0 3px 3px;
    &.pl-box__content--with-footer {
      border-radius: 0;
    }
    &.pl-box__content--no-padding {
      padding: 0;
    }
  }

  &__footer {
    flex: none;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 3px 3px;
    padding: 0 12px 4px 12px;
    // border-top: 1px solid $c-gray300;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), $c-gray100);
    color: $c-gray600;
    &__info {
      font-size: 0.9rem;
      color: $c-gray600;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    }
  }
}

.pl-loading {
  // background-image: url("https://c1.staticflickr.com/3/2653/3685458847_e59708aac1_b.jpg");
  // background-image: url("https://c2.staticflickr.com/4/3622/3300589821_1b89ce29ef_o.jpg");
  background-image: url("https://c1.staticflickr.com/3/2156/2237176830_a0c7e25372_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 6rem;
    font-weight: 600;
    color: white;
    text-shadow: 0 4px 4px rgba(50, 50, 50, 0.35);
  }
}

/*
 * Media Queries Gallore.
 */

/* ----------- from iPhone 5 and 5S to 6+ ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px) {
  .pl-title {
    max-width: 350px;
  }
}
