
@import '../styles/colors';

.pl-activity-feed {

  &__row-wrapper {
    display: flex;
    & + & {
      margin-top: 3px;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    background-color: transparent;
    min-height: 29px;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2);
    cursor: pointer;
  }

  &__row-label {
    align-self: stretch;
    background-color: $c-teal500;
    width: 5px;
    border-radius: 3px 0 0 3px;
  }

  &__row-text {
    flex: none;
    padding: 0 16px 0 12px;
    font-size: 1rem;
    color: $c-gray700;
    font-weight: 400;
    background-color: transparent;
    em {
      font-weight: 600;
    }
  }
}
