
@import '../styles/colors';

.pl-activity-feed {
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    background-color: transparent;
    min-height: 29px;
    background-color: white;
    // width: auto;
    cursor: pointer;
    & + & {
      margin-top: 3px;
    }
  }

  &__row-label {
    align-self: stretch;
    background-color: $c-teal500;
    width: 5px;
    border-radius: 3px 0 0 3px;
  }

  &__row-text {
    flex: none;
    padding: 0 16px 0 12px;
    font-size: 1rem;
    color: $c-gray700;
    font-weight: 400;
    background-color: transparent;
    em {
      font-weight: 600;
    }
  }
}
