
@import '../styles/colors';

.pl-consultant-properties {
  &__profile-block {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__profile-photo {
    flex: none;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    margin-right: 10px;
    box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.25);
  }

  &__profile-personal-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    i.fa {
      position: relative;
      top: -2px;
      font-size: 1.3rem;
      color: $c-gray400;
      text-shadow: none;
    }
    & > :nth-child(1) {
      width: 250px;
    }
    & > :nth-child(2) {
      width: 125px;
    }
    & > :nth-child(3) {
      width: 125px;
    }
  }

  &__profile-entry {
    padding-right: 20px;
  }

  &__profile-label {
    font-size: 1rem;
    color: $c-gray500;
    line-height: 1rem;
  }

  &__profile-big-text {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 900;
    letter-spacing: -1px;
    color: $c-gray700;
    text-shadow: 0 1px 1px rgba(55, 55, 55, .25);
  }
}
