
@import '../styles/colors';

.pl-consultant-list {

  &__rows {
    width: 100%;
  }

  &__header-panel {
    flex: 5 0 auto;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      margin-left: 5px;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    min-height: 50px;
    // width: auto;
    cursor: pointer;
    box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2);
    & + & {
      margin-top: 3px;
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__row-label {
    align-self: stretch;
    background-color: $c-green500;
    width: 5px;
    border-radius: 3px 0 0 3px;
  }

  &__row-avatar {
    flex: none;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $c-gray100;
    border-radius: 100px;
    margin: 0 10px;
    box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.75);
  }

  &__row-info {
    flex: none;
    align-self: stretch;
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;

    &__name {
      font-size: 1.1rem;
      color: $c-gray700;
      font-weight: 400;
      line-height: 1.1rem;
    }
    &__personal {
      font-size: 0.9rem;
      color: $c-gray400;
    }
  }
}
