
@import '../styles/colors';

// Shift height.
$shift-height: 22px;
$shift-gap: 4px;

.pl-planning-shift {
  position: relative;
  min-width: 22px;
  cursor: pointer;
  margin-bottom: $shift-gap;
  height: $shift-height * 2;
  &:last-child {
    margin-bottom: 0;
    height: $shift-height;
  }

  &:hover {
    .pl-planning-shift__inner {
      background-color: rgba($c-teal400, 0.9);
    }
    .pl-planning-shift__left-bar,
    .pl-planning-shift__right-bar {
      display: block;
    }
    .pl-planning-shift__info-box {
      display: flex;
    }
  }

  &__inner {
    border-radius: 3px;
    // Default color is teal.
    background-color: rgba($c-teal300, 0.9);
    border: 2px solid $c-teal500;
    height: $shift-height;
    width: 100%;
    z-index: 2;
    position: relative;
  }

  &__position {
    display: flex;
    height: 100%;
    color: $c-gray600;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3px;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1;
  }

  &__left-bar {
    display: none;
    width: 2px;
    background-color: $c-gray200;
    height: 100%;
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 1;
  }

  &__right-bar {
    display: none;
    width: 2px;
    background-color: $c-gray200;
    height: 100%;
    position: absolute;
    bottom: 20px;
    right: -.5px;
    z-index: 1;
  }

  &__info-box {
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    border: 1px solid $c-gray300;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.9);
    top: -26px;
    left: 0;
    font-size: 0.9rem;
    line-height: $shift-height;
    height: 22px;
    width: 150px;
    padding: 0 6px;
    z-index: 3;
  }

  &__title {
    position: absolute;
    height: 1rem;
    font-size: 0.9rem;
    line-height: 1;
    top: -1rem;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    padding: 0 2px;
    overflow: hidden;
    z-index: 3;
  }

  &__assignees {
    position: absolute;
    height: $shift-height;
    font-size: 1.1rem;
    line-height: $shift-height;
    top: 0;
    right: -150px;
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 6px;
    z-index: 3;
  }

  &.pl-planning-shift--green {
    .pl-planning-shift__inner {
      background-color: rgba($c-green300, 0.9);
      border: 2px solid $c-green500;
    }
    &:hover {
      .pl-planning-shift__inner {
        background-color: rgba($c-green400, 0.9);
      }
    }
  }

  &.pl-planning-shift--red {
    .pl-planning-shift__inner {
      background-color: rgba($c-red300, 0.9);
      border: 2px solid $c-red500;
    }
    &:hover {
      .pl-planning-shift__inner {
        background-color: rgba($c-red400, 0.9);
      }
    }
  }

  &.pl-planning-shift--blue {
    .pl-planning-shift__inner {
      background-color: rgba($c-blue300, 0.9);
      border: 2px solid $c-blue500;
    }
    &:hover {
      .pl-planning-shift__inner {
        background-color: rgba($c-blue400, 0.9);
      }
    }
  }
}
