
@import '../styles/colors';

.pl-top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: none;

  &__title {
    position: relative;
    .pl-title-slogan {
      position: absolute;
      left: 3px;
      bottom: -7px;
    }

    .pl-dropdown {
      position: absolute;
      right: -30px;
      top: 0;
      &__menu {
        top: 60px;
      }
      i.fa-chevron-down {
        position: relative;
        top: -3px;
        color: white;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .35);
      }
    }
  }

  &__info {
    flex: none;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 0 1px 2px rgba(50, 50, 50, 0.75);
    border-radius: 0 0 0 20px;
    padding: 3px 12px 3px 6px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 4;
  }

  &__avatar {
    flex: none;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 60px;
  }

  &__whoami {
    flex: none;
    margin-left: 10px;
    line-height: 1;
    font-size: 1.1rem;
    color: $c-gray100;
  }

  &__sign-out {
    flex: none;
    line-height: 1;
    margin-left: 10px;
    font-size: 1.1rem;
    color: $c-gray100;
    span {
      white-space: nowrap;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
