
@import '../styles/colors';

.pl-overview {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-color: $c-gray50;
  padding: 20px;

  .pl-side-menu {
    margin-right: 20px;
  }

  &__buttons {
    display: flex;
    button + button {
      margin-left: 10px;
    }
    margin-bottom: 20px;
  }

  &__main {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
  }

}
