
@import '../styles/colors';

// Shift height.
$shift-height: 22px;
$shift-gap: 10px;

.pl-planning {
  .pl-basic-layout__main {
    width: 100%;
    flex: 1;
  }
  .pl-basic-layout__main-contents {
    width: 100%;
    // align-self: stretch;
    min-height: 500px;
    display: flex;
  }
}

.pl-planning-box {
  background-color: rgba(255,255,255,0.85);
  // background-color: transparent;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.35);
  color: $c-gray600;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}


.pl-planning-left-column {
  width: 200px;
  border-radius: 3px 0 0 3px;
  align-self: stretch;

  &__search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    margin-bottom: 10px;
    .pl-form__input {
      width: 100%;
      input {
        min-width: initial;
        width: 100%;
      }
    }
  }

  &__shift-titles {
    // display: none; // Hide for now.
  }

  &__shift-number {
    font-weight: 600;
    font-size: 1rem;
    padding-right: 0.4rem;
  }

  &__shift-title {
    padding: 0 14px;
    display: block;
    height: $shift-height;
    margin-bottom: $shift-gap;
    color: $c-gray700;
    font-size: 1rem;
    font-weight: 400;
    line-height: $shift-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    border-bottom: 1px dotted $c-gray300;
    cursor: pointer;
    &:hover {
      color: $c-gray700;
      text-decoration: underline;
    }
  }

  &__buttons {
    margin-top: 20px;
    padding: 0 14px;
    button {
      height: 30px;
      .fa {
        margin-right: 4px;
        position: relative;
        top: 1px;
      }
    }
  }
}

.pl-planning-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 3px 0 0 0;
  border-bottom: 1px solid $c-gray300;
}

.pl-planning-main-column {
  width: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}

.pl-planning-main-area {
  position: absolute;
  top: 50px;
  left: 0;
  border-top: 1px solid $c-gray300;
  // border: 1px solid red;
  width: 100%;
  &__inner {
    padding-top: 30px;
  }
}

.pl-planning-top-axis {
  flex: 1;
  display: flex;

  &__month {
    flex: 1;
    display: flex;
    flex-direction: column;
    & + & {
      margin-left: 2px;
    }
    &:last-child {
      margin-right: 40px;
    }

    &__name {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      font-weight: 600;
      font-size: 1.1rem;
      border-left: 1px solid $c-gray300;
      border-right: 1px solid $c-gray300;
      border-bottom: 1px solid $c-gray300;
    }
    &__dates {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.pl-planning-cell {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
  width: 22px;
  text-align: center;
  border-left: 1px dotted $c-gray200;
  border-right: 0;
  border-bottom: 1px solid $c-gray300;
  font-size: 0.9rem;
  color: $c-gray500;
  font-weight: bold;
  background-color: rgba(255,255,255,0.95);
  &:hover {
    background-color: $c-gray50;
  }

  &:first-child {
    border-left: 1px solid $c-gray300;
  }
  &:last-child {
    border-right: 1px solid $c-gray300;
  }

  &__day-of-week {
    font-weight: 400;
    font-size: 0.8rem;
    position: relative;
    color: $c-gray400;
    // border: 1px solid red;
    height: 22px;
    line-height: 22px;
  }
}

.pl-planning-shift {
  position: relative;
  height: $shift-height;
  min-width: 22px;
  border-radius: 3px;
  cursor: pointer;
  // Default color is teal.
  background-color: rgba($c-teal300, 0.9);
  border: 2px solid $c-teal500;
  margin-bottom: $shift-gap;

  &:hover {
    background-color: rgba($c-teal400, 0.9);
  }

  &__title {
    display: none;
    position: absolute;
    height: $shift-height;
    font-size: 1rem;
    line-height: $shift-height;
    top: -2px;
    left: -151px;
    white-space: nowrap;
    text-align: right;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 6px;
  }

  &__assignees {
    position: absolute;
    height: $shift-height;
    font-size: 1.1rem;
    line-height: $shift-height;
    top: -2px;
    right: -100px;
    white-space: nowrap;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 6px;
  }

  &.pl-planning-shift--red {
    background-color: rgba($c-red300, 0.9);
    border: 2px solid $c-red500;
    &:hover {
      background-color: rgba($c-red400, 0.9);
    }
  }

  &.pl-planning-shift--green {
    background-color: rgba($c-green300, 0.9);
    border: 2px solid $c-green500;
    &:hover {
      background-color: rgba($c-green400, 0.9);
    }
  }

  &.pl-planning-shift--blue {
    background-color: rgba($c-blue300, 0.9);
    border: 2px solid $c-blue500;
    &:hover {
      background-color: rgba($c-blue400, 0.9);
    }
  }

}
