
@import '../styles/colors';

.pl-planning {
  .pl-basic-layout__main {
    width: 100%;
    flex: 1;
  }
  .pl-basic-layout__main-contents {
    width: 100%;
    align-self: stretch;
    display: flex;
  }
}

.pl-planning-box {
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.35);
  color: $c-gray600;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}


.pl-planning-left-column {
  width: 200px;
  border-radius: 3px 0 0 0;
  display: flex;
  flex-direction: column;
  &__section {
    flex: 1;
    padding: 20px;
  }
}

.pl-planning-left-axis {
  width: 60px;
  align-self: stretch;
}

.pl-planning-main-column {
  width: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}

.pl-planning-main-area {
  position: absolute;
  top: 54px;
  left: 0;
}

.pl-planning-top-axis {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__month {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__name {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      font-weight: 600;
      font-size: 1.1rem;
    }
    &__dates {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        flex: 1;
        width: 22px;
        text-align: center;
        border: 1px solid $c-gray100;
        border-left: 1px dotted $c-gray100;
        border-right: 0;
        font-size: 0.85rem;
        &:first-child {
          border-left: 1px solid $c-gray200;
        }
        &:last-child {
          border-right: 1px solid $c-gray200;
        }
      }
    }
  }
}

.pl-planning-shift {
  position: absolute;
  height: 24px;
  min-width: 22px;
  border-radius: 2px;
  cursor: pointer;
  // Default color is teal.
  background-color: rgba($c-teal300, 0.9);
  border: 1px solid $c-teal500;
  &:hover {
    background-color: rgba($c-teal400, 0.9);
  }

  &.pl-planning-shift--red {
    background-color: rgba($c-red300, 0.9);
    border: 1px solid $c-red500;
  }

  &.pl-planning-shift--green {
    background-color: rgba($c-green300, 0.9);
    border: 1px solid $c-green500;
  }

  &.pl-planning-shift--blue {
    background-color: rgba($c-blue300, 0.9);
    border: 1px solid $c-blue500;
  }

}
