
@import '../styles/colors';

.pl-properties-panel {
  margin-left: 20px;
  position: relative;
  .pl-box {
    min-width: 500px;
    // TODO: Use a fixed position on smaller screens.
    // position: fixed;
    // top: 120px;
    // right: 20px;
  }
}
