
@import '../styles/colors';

.pl-side-menu {
  width: 210px;
  padding: 7px 0 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.35);
  color: $c-gray600;

  &__themes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__theme {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 22px;
      width: 22px;
      border-radius: 30px;
      line-height: 1;
      text-align: center;
      font-size: 0.9rem;
      font-weight: normal;
      color: $c-teal500;
      border: 1px solid $c-teal500;
      margin-right: 5px;
      &:hover {
        color: white;
        background: $c-teal400;
      }
    }
  }

  &__row {
    padding: 0 12px;
    height: 29px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1;
    &:hover:not(.nope) {
      color: $c-gray700;
      & > .fa {
        color: $c-gray700;
      }
    }
    & > .fa {
      font-size: 1.1rem;
      color: rgb(97, 104, 122);
      margin-right: 6px;
      // position: relative;
      // top: 1px;
    }
  }

  &__divider {
    border-bottom: 1px solid #f2f2f2;
    margin: 8px 14px;
  }

  &__row--active {
    @extend .pl-side-menu__row;
    font-weight: bold;
    background-color: $c-gray100;
    &:hover {
      color: $c-gray500;
    }
  }

}
