
@import '../styles/colors';

.pl-time-planner-flip-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  transition: background 0.2s;
  cursor: pointer;

  &__left {
    border: 1px solid $c-gray300;
    border-radius: 3px 0 0 3px
  }

  &__right {
    border-top: 1px solid $c-gray300;
    border-right: 1px solid $c-gray300;
    border-bottom: 1px solid $c-gray300;
    border-left: 0;
    border-radius: 0 3px 3px 0
  }

  &__on {
    background-color: $c-gray200;
    box-shadow: 0 0 1px 1px rgba(50,50,50,0.05) inset;
    cursor: default
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    min-width: 150px;
    height: 30px;
    color: $c-gray500;
    // transition: background 0.1s;
    cursor: pointer;
    background-color: $c-gray50;
    :hover {
      background-color: $c-gray200
    }
  }

  &__icons {
    min-width: 40px
  }

  .fa {
    font-size: 1.4rem;
    color: $c-gray400;
    font-weight: 300
  }
}
