
@import '../styles/colors';

.pl-time-planner-flip-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  cursor: pointer;

  &__left {
    border: 1px solid $c-gray300;
    border-radius: 3px 0 0 3px;
    &:hover:not(.pl-time-planner-flip-switch__on) {
      background: linear-gradient($c-gray100, $c-gray200);
    }
  }

  &__right {
    border-top: 1px solid $c-gray300;
    border-right: 1px solid $c-gray300;
    border-bottom: 1px solid $c-gray300;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    &:hover:not(.pl-time-planner-flip-switch__on) {
      background: linear-gradient($c-gray100, $c-gray200);
    }
  }

  &__on {
    background: $c-gray200 !important;
    box-shadow: 0 0 1px 1px rgba($c-gray300,0.5) inset;
    cursor: default
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 600;
    min-width: 150px;
    height: 30px;
    color: $c-gray600;
    // transition: background 0.1s;
    cursor: pointer;
    background: linear-gradient(#ffffff, #eeeeee);
  }

  &__icons {
    min-width: 40px
  }

  .fa {
    font-size: 1.3rem;
    color: $c-gray500;
    font-weight: 400
  }
}
