
@import '../styles/colors';

.pl-time-planner-project-control-bar {
  display: flex;
  background: rgba(0,0,0,0.15);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  min-height: 50px;
  justify-content: flex-start;
  align-items: center;

  &__text {
    margin-left: 12px;
    font-size: 1.1rem;
    line-height: 1.1;
    color: $c-gray50;

    .fa-angle-left, .fa-angle-right {
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }


}
