
@import '../styles/colors';

// Shift height.
$shift-height: 36px;

.pl-time-planner-time-item {
  position: absolute;
  top: 7px;
  min-width: 50px;
  height: $shift-height;
  &:last-child {
    margin-bottom: 0;
    height: $shift-height;
  }

  &.react-draggable-dragging {
    .pl-time-planner-time-item__drag-handle {
      visibility: visible;
    }
  }

  &:hover {
    .pl-time-planner-time-item__left-bar,
    .pl-time-planner-time-item__right-bar {
      display: block;
    }
    .pl-time-planner-time-item__info-box {
      display: flex;
    }
    .pl-time-planner-time-item__title-box {
      display: flex;
    }
    .pl-time-planner-time-item__drag-handle {
      visibility: visible;
    }
  }

  &__drag-handle {
    visibility: hidden;
    width: 20px;
    height: 36px;
    opacity: 0.1;
    border-radius: 3px 0 0 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    cursor: move;
  }

  &__inner {
    border-radius: 2px;
    // Default color is teal.
    background-color: $c-green400;
    height: $shift-height;
    width: 100%;
    z-index: 2;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(50,50,50,0.3);
  }

  &__title-box {
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    height: 24px;
    width: 200px;
    top: 0;
    right: -205px;
    z-index: 30;
    padding: 0;
  }

  &__date-range {
    font-size: 0.9rem;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    color: $c-gray600;
    // border: 1px solid red;
  }

  &__date-range-active {
    @extend .pl-time-planner-time-item__date-range;
    display: inline;
    font-weight: 600;
    color: $c-gray600;
  }

  &__assignees {
    position: absolute;
    height: $shift-height;
    font-size: 1.1rem;
    line-height: $shift-height;
    top: 0;
    right: -150px;
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 6px;
    z-index: 3;
  }

  &.pl-time-planner-time-item--amber {
    .pl-time-planner-time-item__inner {
      background-color: $c-amber400;
    }
  }

  &.pl-time-planner-time-item--red {
    .pl-time-planner-time-item__inner {
      background-color: $c-red400;
    }
  }

  &.pl-time-planner-time-item--green {
    .pl-time-planner-time-item__inner {
      background-color: $c-green400;
    }
  }

  &.pl-time-planner-time-item--blue {
    .pl-time-planner-time-item__inner {
      background-color: $c-blue400;
    }
  }

  .react-resizable {
    position: relative;
  }

  .react-resizable-handle {
    position: absolute;
    width: 16px;
    height: 36px;
    bottom: 14px;
    right: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    z-index: 10;
  }
}
