
#pl-time-planner-app {
  background-position: center;
  background-size: cover;
  position: relative;

  // NOTE: Very important and tricky. But it does the trick !
  min-height: 100vh;

  .pl-time-planner-top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .pl-time-planner-control-bar {
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 10;
  }
  .pl-time-planner-time-bar {
    position: fixed;
    top: 89px;
    left: 0;
    z-index: 10;
  }
  .pl-time-planner-rows {
    padding-top: 140px;
    position: relative;
  }
}
