
@import '../../styles/colors';

.pl-project-properties-form {

  &__consultants-widget {
    position: relative;
    .pl-widget-popup {
      left: 110px; // Offset from the button.
    }
  }

  &__members {
    width: 250px;
    .pl-consultant-card__row {
      box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.3);
      &:first-child {
        margin-top: 10px;
      }
    }
  }
}
